<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />

</head>
<body>
<div class="container">
<h1>Create a Memo</h1>

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="PUT" action="_addMemo">
<div>
<div><b>Date: </d></div>
<div class="row">
   <div class="col-md-2">
    <input type="text" class="form-control"
     name="Date" value="" id="Date"/>
   </div>
</div>
<div><b>Message: </b></div>
<div class="row">
  <div class="col-md-2">
    <input type="text" class="form-control"
      name="Memo" value="" id="Memo" />
  </div>
</div><br>
<button name="button" class="btn btn-default" >Add Memo</a>
</div>
</form>
</div> 

<script type="text/javascript">

	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			
		/*This javascript occurs when Add Memo is clicked
		 *It grabs the date and message from the input fields
		 *and sends them to our python /_addMemo @route where
		 *it will use that info to submit a memo to the db and
		 *refresh the page*/
			function submitMemo() {
				var dt = $('#Date').val();  //date
				var msg = $('#Memo').val(); //message
					
				$.getJSON($SCRIPT_ROOT + '/_addMemo',
				{ date: dt, memo: msg },
				function() {
				setTimeout(window.location.
				reload(), 3000);}
				);
			};

</script>
</body>
</html>
