<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">
<h1>Create a Memo</h1>

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="PUT" action="_create">
<div class="row">
    <div class="col-md-2">
    <input type="text" class="form-control"
     name="Date" value="" id="date"/>
  </div>
  <div class="col-md-10">
    <input type="text" class="form-control"
      name="Memo" value="" id="message" />
  </div>
<button name="button" class="btn btn-default" >Add Memo</a>
 </div>
</form>
</div> 

<script type="text/javascript">

	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

		$(document).ready(function(){
   // Do the following when the page is finished loading

      // When a field named 'distance' is changed ...
      $('button[name="button"]').clicked(
			
			function () {
			var dt = document.getElementById("date").value;
			//var msg = document.getElementById("message").value;
			var msg = "winner";			

			$.getJSON($SCRIPT_ROOT + '/_create',
			{ date: $('input[name="Date"]').val(), memo: msg },
			function(e) {});


			 // AJAX request
             /* $.ajax( { url : $SCRIPT_ROOT + '/_hcreate',
		  type : "GET",
		  contentType : "application/json; charset=utf-8",
                  data : { date: "seven" }, 
		  success: function(e){},
		  dataType: 'json' });*/
		});
	});
</script>
</body>
</html>
